// main: main.less

@gray-ligth:        	        #f2f2f2;
@gray-medium:       	        #404041;
@gray-dark:         	        #434040;

@green:        	                #59b246;
@green-hover:        	        #2e7923;

@white:             	        #FFFFFF;
@black:             	        #000000;

@font-family-1: 'ABeeZee', sans-serif;
@font-family-2: 'Open Sans', sans-serif;
