// main: main.less

@dark-blue:        	            #0F0F3B;
@light-blue:       	            #00A7E1;
@gray-dark:         	        #434040;

@green:        	                #59b246;
@green-hover:        	        #2e7923;

@white:             	        #FFFFFF;
@black:             	        #000000;

@font-family-1: 'ABeeZee', sans-serif;
@font-family-2: 'Open Sans', sans-serif;
