// main: main.less
.main-banner {
    color: @dark-blue;

    h1 {}

    span {
        color: @light-blue;
        font-weight: 300;
        font-size: 60px;

        &.cloud {
            display: block;
            font-size: 100px;
            color: @dark-blue;
            font-weight: 600;
            line-height: 0.7;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                display: block;
                background: url(../images/cloud-icon.png) no-repeat center center;
                height: 130px;
                width: 239px;
                top: -75px;
                right: 97px;


            }
        }
    }


    .border {
        margin: 50px auto;
        width: 530px;
        height: 530px;
        border-left: 15px solid #3EC8AC;
        border-right: 15px solid #4E90A4;
        border-radius: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
        -webkit-background-size: 100% 20px;
        -moz-background-size: 100% 20px;
        background-size: 100% 20px;
        background-image: -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
        background-image: -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
        background-image: -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
        background-image: linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%), linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%);
    }

    .intro {
        font-size: 20px;
        color: @gray;
        font-weight: 300;
    }

}


.psl-provider {
    background: linear-gradient(270deg, rgba(122, 13, 225, 0.01) 0%, rgba(109, 36, 225, 0.95) 16.08%, #25A0E1 100%);
    padding: 174px 0;
    h2 {
        color: white;
    }
}

.banner {
    background: radial-gradient(circle, #48535E 0%, #212B37 100%);
    h2 {
        color: white;
    }
}

.benefits {

    h2 {
        color: @dark-blue;
    }

    ul {

        li {
            background-image: url(../images/blue-bullet.png);
            color: @gray;
        }
    }


}

.scope {
    background: @light-blue;

    h2,
    h3 {
        color: white;
    }
    h3 {
        font-weight: 300;
    }
}

.information{
    background: white;
}

.experience{
    h2{
        color: @light-blue;
        font-size: 36px!important;
    }
    
    .circle{
        border-radius: 50%;
        border: 2px solid @light-blue;
        text-align: center;
        width: 322px;
        height: 322px;
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 32px;
        
        h2{
            color:@orange;
            font-size: 55px!important;
            line-height: 0.6;
        }
        
        span{
            color: @light-blue;
            font-size: 24px;
            font-weight: 300;
             line-height: 2;
        }
        
        p{
            color:@gray;
            font-size: 16px;
            font-weight: 300;
        }
    }
}

.dian{
    background: @light-blue;
    
    p{
        font-size: 25px;
        color: white;
    }
}